# Configuración del servidor
SERVER_HOST=localhost

# Configuración de Base de Datos
DB_USER=root
DB_PASSWORD=admin123
DB_NAME=cesfam_db
DB_PORT=5455

# Configuración de Puertos
BACKEND_PORT=3000
FRONTEND_PORT=5173

# Seguridad
JWT_SECRET=vneWzOudB2eCwNLljZe66dnCdI+bCkihqReBpqiIdYw=