# dependencias
node_modules/


# variables de entorno
.env
.env.*
!.env.example

# sistema
.DS_Store

# archivos Markdown
*.md
!README.md

# prisma 
backend/prisma/*.db
backend/prisma/*.db-journal
backend/prisma/migrations/dev.db
prisma/*.db
prisma/*.db-journal
backend/prisma/
# Ignorar el cliente autogenerado de Prisma
backend/src/generated/

# ignora las seed y demas cosas de prisma 
/src/generated/prisma


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


Microsoft/
